body {
  font-family: Arial;
  text-align: center;
}

#movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 200px;
}